.contacts{
	// padding: 45px 0 70px;
	position: relative;
	&__block{
		padding-top: 40px;
	}
	&__blog{
		ul{
			margin: 0;
			padding: 0;
			li{
				margin: 0;
				list-style-type: none;
				display: block;
				padding-bottom: 38px;				
				.liwrap{
					width: 210px;
					font-size: 18px;
					display: inline-block;
					overflow: hidden;
					font-weight: 600;
					vertical-align: top;
				}
				span{
					max-width: 460px;
					width: 100%;
					font-size: 16px;
					display: inline-block;
					overflow: hidden;
					font-weight: 400;
					color: #282828;
				}
				.-width{
					max-width: 345px;
					width: 100%;
					padding-left: 50px;
				}
			}
		}
	}
	&__form{
		background-color: #32b8ad;
		box-shadow: 0px 3px 5.64px 0.36px rgba(0, 0, 0, 0.35);
		max-width: 100%;
		width: 100%;
		min-height: 450px;
		padding: 30px 50px;
		@media (max-width: $screen-xs-max) {
			padding: 20px;
		}
		.-forms{
			input,
			textarea{
				background-color: rgb(255, 255, 255);
				max-width: 100%;
				width: 100%;
				border: none;
				padding-left: 18px;
				outline: none;
				margin-bottom: 20px;
			}
			input{
				height: 40px;
			}
			.-btn{
				float: right;
				width: 160px;
				height: 40px;
				outline: none;
				border: none;
				background-color: rgb(255, 255, 255);
			}
		}
	}
	&__yandex {
		max-width: 100%;
		width: 100%;
		height: 430px;
		margin-top: 40px;
		margin-bottom: 10px;
		overflow: hidden;
		position: relative;
		@media (max-width: $screen-sm-max) {
			height: 300px;
		}
		#map{
			position: absolute;
			top: 0px;
			right: 0px;
			left: 0px;
			bottom: 0px;
		}
	}
}


