.dispatch{
	background-color: #3b3b3b;
	min-height: 100px;
	width: 100%;
	padding-top: 20px;
	@media (max-width: $screen-md-max) {
		padding-bottom: 20px;
	}
	&__item{
		position: relative;
		@media (max-width: $screen-xs-max) {
			text-align: center;
		}
		img{
			position: absolute;
			top: -23px;
			left: -120px;
			@media (max-width: $screen-md-max) {
				width: 220px;
				left: 0;
				top: -29px;
				position: relative;
			}
			@media (max-width: $screen-xs-max) {
				top: 0;
			}
		}
		a{
			font-size: 24px;
			color: #70c9c2;
			text-decoration: none;
			transition: all .3s;
			&:hover{
				text-decoration: underline;
			}
			@media (max-width: $screen-md-max) {
				font-size: 20px;
			}
		}
		p{
			font-size: 20px;
			color: #fff;
			@media (max-width: $screen-md-max) {
				margin: 0;
			}
		}
		form{
			padding-top: 15px;
			@media (max-width: $screen-md-max) {
				padding-top: 0;
			}
			input{
				max-width: 360px;
				width: 100%;
				height: 53px;
				border: none;
				outline: none;
				padding-left: 10px;
				@media (max-width: $screen-xs-max) {
					max-width: 100%;
					width: 100%;
				}
			}
			.-btn{
				max-width: 220px;
				width: 100%;
				height: 53px;
				margin-left: 10px;
				background-color: #c35041;
				border: none;
				color: #fff;
				border: 1px transparent solid;
				outline: none;
				transition: all .3s;
				&:hover{
					border: 1px #c35041 solid;
					background-color: transparent;
				}
				@media (max-width: $screen-xs-max) {
					margin-top: 10px;
					margin-left: 0;
					max-width: 100%;
					width: 100%;
				}
				i{
					color: #fff;
					padding-right: 20px;
					font-size: 18px;
					transition: all .3s;
					&:hover{
						color: #c35041;
					}
				}
			}
		}
	}
}