.footer{
	padding: 25px 0 65px 0;
	border: 10px solid #32b8ad;
	@media (max-width: $screen-xs-max){
		padding-bottom: 30px;
	}
	&__items{
		@media (max-width: $screen-xs-max){
			text-align: center;
		}
		@media (max-width: $screen-sm-max){
			text-align: center;
		}
		h2{
			padding-left: 40px;
			font-size: 18px;
			font-weight: 300;
			color: #282828;
			margin: 0;
			padding-bottom: 25px;
			@media (max-width: $screen-sm-max){
				padding-left: 0;
			}
		}
		ul{
			margin: 0;
			position: relative;
			@media (max-width: $screen-sm-max){
				padding: 0;
			}
			li{
				list-style-type: none;
				position: relative;
				padding-bottom: 25px;
				@media (max-width: $screen-sm-max){
					padding-left: 0;
					padding-bottom: 15px;
				}
				a{
					color: #b4b4b4;
					font-size: 14px;
					text-decoration: none;
					transition: all .3s;
					&:hover{
						color: #32b8ad;
					}
				}
				i{
					position: absolute;
					font-size: 23px;
					color: #32b8ad;
					left: -40px;
					@media (max-width: $screen-sm-max){
						display: none;
					}				
				}				
			}
		}
	}
	
	&__social{	
		text-align: center;
		@media (max-width: $screen-xs-max){
			padding-top: 10px;
		}
		a{
			text-decoration: none;
			font-size: 20px;
			color: #b4b4b4;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	.padd{
		@media (max-width: $screen-xs-max){
			padding-top: 25px;
		}
	}
	&__item{
		@media (max-width: $screen-sm-max){
			text-align: center;
			height: 230px;
			overflow: hidden;
		}
		@media (max-width: $screen-xs-max){
			text-align: center;
			height: auto;
			overflow: hidden;
		}
		h2{
			font-size: 18px;
			font-weight: 300;
			color: #282828;
			margin: 0;
			padding-bottom: 25px;
			@media (max-width: $screen-sm-max){
				padding-bottom: 15px;
			}
			@media (max-width: $screen-xs-max){
				padding-top: 25px;
			}
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				padding: 0;
				padding-bottom: 15px;
				@media (max-width: $screen-sm-max){
					padding-left: 0;
					padding-bottom: 10px;
				}
				&:last-child{
					padding-bottom: 0;
				}
				a{
					color: #b4b4b4;
					font-size: 14px;
					text-decoration: none;
					transition: all .3s;
					&:hover{
						color: #32b8ad;
					}
				}
			}
		}	
	}
}